@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

 *{
  background-color:grey;
  font-size: x-large;
 }
 
 .formuserprofile {
    display: flexbox;
    justify-content: center;
    margin: 15 px;
    align-items: center;
    max-width: 100vh;
    max-height: 100vh;
    padding: 15px;
    margin: 300px auto;
  
  }
   
  h1{
    text-align: center;
    font-size: 70px;
    color:white;
    background-color: black;
    display:flex;
    justify-content: center;
  }
  
  .formformuser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    
  }

  .backtohome{
    display: flex;
    justify-content: center;
    max-width: 40vh;
    margin: 0 auto;

  }

   .buttonupdateuserprofile{
    display: flex;
    justify-content: center;
    max-width: 40vh;
    margin: 0 auto;
    margin-bottom: 30px ;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(208, 208, 208);
    font-size: larger;
   }

   .userprofileinput{
    display: flex;
    justify-content: center;
    max-width: 40vh;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid black 3px;
    color: black;
    background-color: white;
   }
 
   ::placeholder{
    color: black;
    text-align: left;
    font-size: x-large;
   }
  /* Dark Mode */
  
  @media (prefers-color-scheme: dark) {
    .profile_container {
      background-color: #121212;
    }
  } 
 