body {
  margin: 0;
  background-color: grey;
  color: white;
}
.slide {
  margin: 20px 10px;
  display: flex;
  justify-content: center;
}
.container {
  margin-left: 0;
}
.carousel-caption {
  width: inherit;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
}
.card-body {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.top-anime {
  margin: 40px;
  text-align: center;
}

.carousel-title {
  background-color: #212529;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
}
.anime-carousel {
  display: flex;
}
.anime-title {
  color: "white";
  font-size: "20px";
  font-weight: "bold";
  margin-bottom: "5px";
  text-align: "center";
}
.anime-rating {
  color: "white";
  font-weight: "bold";
  margin-bottom: "5px";
}
.anime-genre {
  color: "white";
  font-weight: "bold";
  margin-bottom: "5px";
}
.anime-image {
  width: 286px;
  height: 404px;
  object-fit: cover;
  margin: 10px;
}
.anime-card {
  position: "relative";
  width: "100%";
  height: "auto";
  border-radius: "10px";
  overflow: "hidden";
}
.video-slide {
  margin: "20px auto";
}

.trailer-carousel-slide {
  width: 100%;
  margin: auto;
  display: flex;
}

.trailer-carousel-video {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.carousel-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 4rem;
}
