body {
  margin: 0;
  background-color: #3c4048;
  color: white;
}
.slide {
  margin: 13px auto;
  display: flex;
  justify-content: center;
}
.carousel {
  width: 900px;
  height: 500px;
  position: relative;
}
.carousel-caption {
  width: inherit;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
}
.card-body {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.top-anime {
  margin: 20px;
  margin-top: 10px;
}

.trailer-carousel-slide {
  width: 100%;
  margin: auto;
  display: flex;
}

.trailer-carousel-video {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.carousel-title {
  background-color: #212529;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.anime-detail-section {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}
.anime-details-buttons {
  display: flex;
  justify-content: space-around;
}

/* Add to list button animation */
.clicked {
  animation: button-clicked 0.3s ease-in-out;
}

@keyframes button-clicked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animelist-enter {
  opacity: 0;
}

.animelist-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.animelist-exit {
  opacity: 1;
}

.animelist-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
